body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4c7aaf;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

h1 {
    color: #4c7aaf;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #4c7aaf;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #4c7aaf;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    padding-bottom: 50px;
    width: 100%;
    bottom: 0;
}

ul {
    padding-left: 0;
}

ul li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hidden {
    display: none;
}
